{% extends "core/base.html" %}




<!-- {% block background %}{% load static %}{% static 'core/img/core.jpg' %}{% endblock %} -->


{% load static %}

{% block header %}
<form class="form-inline my-2 my-lg-0 ">
    <nav class="navbar navbar-expand-sm  fixed-top  navv" style="background-color: #263238;" >
      <!-- <a class="navbar-brand" href="{% url 'home' %}" ><img src="{% static 'core/img/listo.png' %}" width="70" height="50" alt=""></a> -->
      <div class="row ml-md-3 mr-md-3">
        <a href="{% url 'home' %}" ><i class="fas fa-home i colorLogo" style="font-size: 35px;color:white;"></i></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style=" color: white;"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <div class="row col-md-12  d-flex" >
              <button class="btn ml-auto "   style=" color: white; background-color:#009688; font-family: 'Raleway', sans-serif;
              font-size: large; width: 85px; height: 40px;" type="submit">Salir</button>
          </div>
        </form>
      </div>
    </nav>
  {%endblock%}


{% block content %}
<style>
	
	.box:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);

border-radius: 20px;
/*width:225%;*/
/*-webkit-transform: scale(0.5);*/
transform: scale(1.1)
/*background-color: red;*/
}
.card{
	border-radius: 20px;
}/*
.ja:hover{ 
    -webkit-transform: scale(0.5);
    transform: scale(0.5)
}*/
</style>

<style>
  
  .medio{
    justify-content: center;
    display: flex;
  }
</style>






<body  >
	
	{% if perms.estudio.add_estudio %} 
	<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="estilos.css">
  

<div class="container col-md-12">
  <div class="row mt-5 medio ">

  
    <div class="card mt-5 ml-2 col-md-3">
             <a  href="{% url 'pacienteform' %}" style="text-decoration: none; flex-direction: column;">
                <div class="icon"><i class="fas fa-users" style="font-size: 35px; color:white;"></i></div>
                <p class="title">Pacientes</p>
                <p class="text">Click para agregar un paciente.</p>
             </a>
          </div>
  
        <div class="card mt-5 col-md-3">
           <a  href="{% url 'form' %}"  style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-tasks" style="font-size: 35px;"></i></div>
              <p class="title">Estudio</p>
              <p class="text">Click para agregar un estudio.</p>
            </a>
        </div>
        <div class="card mt-5 col-md-3">
           <a  href="{% url 'mpi' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-heartbeat" style="font-size: 35px;"></i></div>
              <p class="title">Cámara Gamma</p>
              <p class="text">Click para agregar una cámara gamma.</p>
             </a>
        </div>
        <div class="card mt-5 col-md-3">
           <a href="{% url 'ergo' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-user-md" style="font-size: 35px;"></i></div>
              <p class="title">Ergometría</p>
              <p class="text">Click para agregar una ergometría.</p>
            </a>
        </div>
  </div>
  <div class="row mb-5 medio">
  <div class="card mt-5">
            <a  href="{% url 'antecedentes' %}"  style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-file-medical-alt" style="font-size: 35px;"></i></div>
              <p class="title">Antecedentes</p>
              <p class="text">Click para agregar un antecendente.</p>
           </a>
        </div>
        <div class="card mt-5">
            <a href="{% url 'ventricular' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="far fa-chart-bar" style="font-size: 35px;"></i></div>
              <p class="title">Función Ventricular</p>
              <p class="text">Click para introducir valores en función ventricular.</p>
            </a>
        </div>
        <div class="card mt-5">
            <a  href="{% url 'pacientespreinforme' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-file-pdf"  style="font-size: 35px;"></i></div>
              <p class="title">Pre-Informe</p>
              <p class="text">Click para generar pre-informe en pdf.</p>
           </a>
        </div>
        <div class="card mt-5">
           <a  href="{% url 'pacientespreinforme' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-compact-disc" style="font-size: 35px;"></i></div>
              <p class="title">Carga Dicom</p>
              <p class="text">Click para agregar archivos dicom.</p>
           </a>
        </div>
  </div>
</div>





    
  
{% else %}
<center><h1>DEBE LOGUEARSE PARA INGRESAR AL MENU PRINCIPAL</h1></center>
 {% endif %}
</body>



{% endblock %}

 