<!DOCTYPE html>
<html lang="en">
 
<head>
{% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %}Optica Bari{% endblock tittle %}</title>
    
    <link rel="stylesheet" href="{% static 'core/css/aos.css' %}" />
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/dataTables.bootstrap4.min.css' %}">
        <link rel="icon" type="image/x-icon" href="../plantillas/assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="{% static 'core/css/fontcss2.css' %}" rel="stylesheet">
        {% static 'core/stylesheets/styles.css' %}
        {% static 'core/javascripts/scripts.js' %}

</head>
<body>


<div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-dark  navbar-light fixed-top">
                        <div class="container my-3">
                            <a class="navbar-brand text-white" href="{% url 'carga' %}">Óptica Bari</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="container">
                                    <ul class="navbar-nav ml-auto mr-lg-5 ">
                                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'carga' %}">Lentes y Marcos </a></li>
                                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'cargaReceta' %}">Cargar Recetas </a></li>
                                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'listaReseta' %}">Lista de Recetas </a></li>
                                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'listaLentesVender' %}">Vender </a></li>
                                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'ventas' %}">Ver Ventas </a></li>
                                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'salir' %}">Cerrar Sesion </a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </nav>

                    <!-- Page Header-->
                    <header class="page-header page-header-light bg-white my-5">
                        <div class="container">    
                            {% block content %}

                            {% endblock %}
                           
                        </div>
                        
                    </header>
                </main>
            </div>
            
        </div>








    <!---Scripts--->
        <script src="{% static 'core/js/jquery-3.5.1.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'core/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'core/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
        
        <script src="{% static 'core/js/aos.js' %}"></script>
        

        <script>

            
$(document).ready(function() {
                $('#tabla').DataTable( {
            "language": {
    "decimal":        "",
    "emptyTable":     "No hay datos",
    "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
    "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
    "infoFiltered":   "(Filtro de _MAX_ total registros)",
    "infoPostFix":    "",
    "thousands":      ",",
    "lengthMenu":     "Mostrar _MENU_ registros",
    "loadingRecords": "Cargando...",
    "processing":     "Procesando...",
    "search":         "Buscar:",
    "zeroRecords":    "No se encontraron coincidencias",
    "paginate": {
        "first":      "Primero",
        "last":       "Ultimo",
        "next":       "Próximo",
        "previous":   "Anterior"
    },
    "aria": {
        "sortAscending":  ": Activar orden de columna ascendente",
        "sortDescending": ": Activar orden de columna desendente"
    }
}
            } );
        } );
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true,
            });

            $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})


            
        </script>

</body>
</html>