{% extends "core/base.html" %}

{% block content %}

  <div class="row justify-content-center">
                                <div class="col-md-6 col-xl-8 mt-5">
                                    <div class="jumbotron border bg-white">
                                        <div class="container">
                                          <p class="lead text-center">Esta seguro que desea eliminar el producto {{object.marca}}? </p>

                                          <div class="row">
                                            <div class="col ">
                                            <form action="" class="d-flex" method="POST">{% csrf_token %}
                                                <button class="btn btn-danger ml-auto" href="" role="button">Eliminar</button>
                                            </form>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-secondary ml-2" href="{% url 'carga' %}" role="button">Cancelar</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                                
                                    </div>
                                </div>
    
    {% endblock %}