{% extends "core/base.html" %}

{% block content %}
{% load static %}
<!-- ******************************************************************INCLUYENDO ARCHIVOS ESTATICOS*********************************************************** -->
  <link rel="stylesheet" href="{% static 'core/css/estilosEstudio.css' %}">
  <script src="{% static 'core/js/funcionesEstudio.js' %}"></script>
  
    <style>
    
    .padre{
	display: flex;
  	justify-content: center;

}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.bordes{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;

}
  
    
    
    </style>

<body>
                                                                                      <hr>

  <!-- ******************************************************************FORMULARIO BUSQUEDA************************************************************* -->

<!-- ***************************************************************FORMULARIO ESTUDIO***************************************************************************** -->

<div class="container padre">
    <div class="card col-md-11 mt-md-5 bordes1" style="background-color: #263238; top: 160px;">
            <form class="ml-3 mr-3" method="POST">
                    {% csrf_token %}
                
                <!-----------Paciente Oculto----------->    
                <div class="row" style="display: none;">
                            <div class="form-group col-md-3" >
                                <label for="sel1">Paciente:</label>
                        {{form.pacientes}}
                        </div>
                </div>  
                <!------------------------------------>
                <div class="row mt-5">
                <div class="form-group col-md-6">
                <label for="sel1">Institucion:</label>
                    {{form.instituciones}}           
                </div>
                <div class="form-group col-md-3">
                            <label for="email">Edad:</label>
                            {{form.edad}}
                </div>
                <div class="form-group col-md-3">
                        <label for="form_name">Peso (Kg): </label>
                        {{form.peso}}
                    </div>
                   
                </div>   
                 <!------------------------------------>
                
                <div class="row mt-3 ">
                        <div class="form-group col-md-3">
                                <label for="form_email">IMC:</label>
                                {{form.imc}}                       
                            </div>  
                            <div class="form-group col-md-3">
                                <label for="form_name">Talla (Cm):</label>
                                {{form.talla}}
                             
                            </div>
                        
                            <div class="form-group col-md-3">
                                <label for="form_email">Superficie Corporal (m<sup>2</sup>):</label>
                                {{form.supCorporal}}
                                
                            </div>
                            <div class="form-group col-md-3">
                                    <label for="form_name">Perimetro Abdominal:</label>
                                    {{form.perimetroAbdominal}}
                      
                                </div>
                                
                     
                </div>
                
                <div class="row mt-md-3">
                        <div class="form-group col-md-3">
                                <label for="form_email">Decubito:</label>
                                {{form.decubito}}
                            
                            </div>
                            
                        <div class="form-group col-md-3">
                                <label for="form_name">Medico:</label>
                             {{form.medico}}
                                
                            </div>

                            <div class="form-group col-md-3">
                                    <label for="form_email">Indicacion:</label>
                                    {{form.indicacion}}
                                
                                </div>
                                <div class="form-group col-md-3" >
                                        <div class="ml-3">
                                                <label for="form_email" >Urgencia:</label>
                                        </div>
                        
                                        <div class="ml-3" >
                                                {{form.urgencia}}
                                                
                                        </div>
                                        
                                    </div>
                                


                </div>
                
                <script>
                
                var e = $("#estado").val();
                // alert(e)
                if (e=="True") {
                $("#check").attr("checked",true);
                // alert(e)
                }
                function validar() {
                var z=$("#check").prop("checked");
                // alert(z)//devuleve true o false del estado del input// devuelve un boolean
                
                if (z==true) {
                $("#estado").val("True");
                
                }else{
                 $("#estado").val("False");
                }
                
                }
                
                </script>
                
                <div class="row mt-md-3 ">
                        <div class="form-group col-md-3">
                
                
                
                                <!-- <input id="form_email" type="text" name="calidadTecnica" class="form-control" placeholder="" required="required" data-error="Valid email is required."> -->
                                 
                                  <label for="" style="float: center; ">Calidad Tecnica:</label>
                               <div>
                                  {{form.calidadTecnica}}
                               </div>
                              </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="form_message">Observaciones:</label>
                            {{form.observaciones}}
                            
                        </div>
                    </div>
                
                   
                   
                </div>

                <div class="row d-flex">
                        <input type="submit" class="btn col-md-2 mt-3 mb-4 ml-auto mr-3 bordes1" style="background-color: #009688; color: white;" value="Guardar">
                    </div>     
                    
                    <!------------------------------------>
                  
            </form>
        
    </div>
        

</div>

 
</body>

{% endblock content%}