{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>IMAC</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/font/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/util.css' %}"> <!-- libreria css  -->
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}">   <!-- configuraciones css  -->
	<link rel="stylesheet" href="{% static 'core/font/css/all.min.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Raleway:600i&display=swap" rel="stylesheet">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">
						{% csrf_token %}
					<span class="login100-form-logo">
						<i class="fas fa-user-tie"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27" style=" font-family: 'Raleway', sans-serif;
					font-size: large;">
						Iniciar Sesión
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Usuario" autocomplete="off" style=" font-family: 'Raleway', sans-serif;
						font-size: large;">
						<span class="focus-input100" data-placeholder="&#xf207;" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Contraseña"  autocomplete="off" style=" font-family: 'Raleway', sans-serif;
						font-size: large;">
						<span class="focus-input100" data-placeholder="&#xf191;" ></span>
					</div>

				

					<div class="container-login100-form-btn p-t-90">
						<button class="login100-form-btn" style=" font-family: 'Raleway', sans-serif;
						font-size: large;" name="ingresar">
							Ingresar
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	



</body>
</html>