{% extends "core/base.html" %}

{% block content %}
{% load static %}

<style>
  .padre{
	display: flex;
  	justify-content: center;

}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.bordes	{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;

}

</style>
<form method="POST">
			{% csrf_token %}
			

<div class="form-inline mb-md-4 mt-md-5">				
					     			
					
<div class="row col-md-12 padre mt-md-5 ">	

		<fieldset class=" col-md-6 bordes1 " style="background-color: #263238; color: white;">
				<legend class="bordes col-md-2" style="background-color: #009688; color: white;font-size: large;">FCRV</legend>
		
				
		<div class="row ml-3 mt-3">
				<div class="col-md-3" style="display: none;">
						{{form.paciente_antecedente}}
				</div>
							<div class="col-md-6 form-group ">
											  <div class="form-check ">
												{{form.fcrv_hta}}
												<label class="form-check-label ml-md-3"> HTA</label>
												{{form.fecha_fcrv_hta}}
											</div>
									<div class="col-md-3 form-group"> 
											<div class="form-check ml-md-5">
													{{form.fcrv_dta}}
													<label class="form-check-label ml-md-3" for="autoSizingCheck"> DTA</label>
													{{form.fecha_fcrv_dta}}	
												  </div>
									</div>			
											 
							 </div>
							 
								  
					
		</div> 
			
		<div class="row ml-3 mt-3">
		
		
						  <div class="form-group col-md-4">
								<div class="form-check ">
										{{form.anteced_fliar}}
										<label class="form-check-label ml-md-2" for=""> ANTECEDENTES FLIARES</label>
									  </div>
						  </div>
						  <div class="form-group col-md-3">
								<div class="form-check">
										{{form.ex_tabaquismo}}
										<label class="form-check-label ml-md-2" for=""> EX-TABAQUISMO</label>
									  </div>
						  </div>
							  <div class="form-group col-md-2">
									<div class="form-check ">
											{{form.dislipemia}}
											<label class="form-check-label ml-md-2" for="">DISLIPEMIA</label>
										  </div>
							  </div>
								  <div class="form-group col-md-2 ml-3">
										<div class="form-check">
												{{form.sedentarismo}}
												<label class="form-check-label ml-md-2" for=""> SEDENTARISMO</label>
											  </div>
								  </div>
		
		</div>
		
		
		<div class="row ml-3 mt-3">

		
						  <div class="form-group col-md-4">
								<div class="form-check mr-sm-4">
										{{form.estres}}
										<label class="form-check-label ml-md-2" for="">ESTRÉS</label>
									  </div>
						  </div>
						  <div class="form-group col-md-4">
								<div class="form-check ">
										{{form.chagas}}
										<label class="form-check-label ml-md-2" for=""> CHAGAS</label>
									  </div>
						  </div>
							  <div class="form-group col-md-4">
									<div class="form-check ">
											{{form.resincron}}
											<label class="form-check-label ml-md-2" for="">RESINCRONIZACIÓN</label>
										  </div>
							  </div>
					  		
			  
		</div> 
		
		<div class="row mt-3 ml-3 mb-3">
		
						  <div class="form-group col-md-4">
								<div class="form-check mr-sm-4">
										{{form.tabaquismo}}
										<label class="form-check-label ml-2" for="">TABAQUISMOS</label>
									  </div>
						  </div>
						 <div class="form-group col-md-4">
								<div class="form-check mr-sm-4">
										{{form.marcapasos}}
										<label class="form-check-label ml-2" for=""> MARCAPASOS</label>
									  </div>
						 </div>
							  <div class="form-group col-md-4">
									<div class="form-check mr-sm-4">
											{{form.cdi}}
											<label class="form-check-label ml-2" for="">CDI</label>
										  </div>
							  </div>
					  
		</div> 

		</fieldset>

<!-- --------------------------------------------------- -->

		<fieldset class=" col-md-4 ml-md-5 bordes1" style="background-color:#263238; color: white;">
				<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">CRM</legend>
				

		<div class="row ml-3 mt-3 ">
						<div class="col-md-12 form-group ">
										  <div class="form-check mr-sm-4">
											<input class="form-check-input " type="checkbox" id="autoSizingCheck">
											<label class="form-check-label ml-md-2" for="autoSizingCheck"> DTA</label>
											{{form.fecha_crm_hta}}	
										  </div>
									  </div>

			  
		</div> 
					
		<div class="row mt-4 ml-3 mr-3">
		
						<div class="form-group col-md-2">
								<div class="form-check mr-sm-4">
										{{form.pm}}
										<label class="form-check-label ml-md-2" for="">PM</label>
									</div>
						</div>
						
						<div class="form-group col-md-2">
								<div class="form-check mr-sm-4 ml-md-3">
										{{form.pr}}
										<label class="form-check-label ml-md-2" for=""> PR</label>
								</div>
						</div>

						<div class="form-group col-md-2">
								<div class="form-check mr-sm-4 ml-md-3">
										{{form.pv}}
										<label class="form-check-label ml-md-2" for="">PV</label>
							</div>
						</div>
						
						<div class="form-group col-md-2">
								<div class="form-check mr-sm-4 ml-md-3">
										{{form.pm_da}}
										<label class="form-check-label ml-md-2" for="">DA</label>
						</div>
						</div>
						
						<div class="form-group col-md-2">
								<div class="form-check mr-sm-4 ml-md-3">
										{{form.pr_dg}}
										<label class="form-check-label ml-md-2" for=""> DG</label>
					</div>
						</div>
						
						<div class="form-group col-md-2">
								<div class="form-check mr-sm-4 ml-md-3">
										{{form.pv_da}}
										<label class="form-check-label ml-md-2" for="">DA</label>
				</div>
						</div>
					  
			  
		</div>  
		
		<div class="row mt-4 ml-3 mr-3">
		
						  <div class="form-group col-md-2 ">
								<div class="form-check">
										{{form.pm_dg}}
										<label class="form-check-label ml-md-2" for="">DG</label>
									  </div>
						  </div>
						 <div class="form-group col-md-2">
								<div class="form-check">
										{{form.pr_cx}}
										<label class="form-check-label ml-md-2" for="">Cx</label>
									  </div>
						 </div>
							  <div class="form-group col-md-2">
									<div class="form-check ">
											{{form.pv_dg}}
											<label class="form-check-label ml-md-2" for="">DG</label>
										  </div>
							  </div>
								  <div class="form-group col-md-2">
										<div class="form-check">
												{{form.pm_cx}}
												<label class="form-check-label ml-md-2" for="">Cx</label>
											  </div>
								  </div>
									  <div class="form-group col-md-2">
											<div class="form-check ">
													<input class="form-check-input sr-only " type="checkbox" id="autoSizingCheck">
													<label class="form-check-label ml-md-2" for="autoSizingCheck"></label>
												  </div>
									  </div>
										  <div class="form-group col-md-2">
												<div class="form-check">
														{{form.pv_cx}}
														<label class="form-check-label ml-md-2" for="">Cx</label>
													  </div> 
										  </div>
			  
		</div>  

	</fieldset>
</div>


<!-- --------------------------------------------------- -->	
	

<div class="row col-md-12 padre mt-md-5">

		<fieldset class="col-md-6 bordes1" style="background-color: #263238; color: white;">
				<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">ANTECEDENTES</legend>
				
							<div class="row ml-5 mt-3">
							<div class="form-group col-md-4	">
									<div class="form-check mr-sm-4">
											{{form.infarto}}
											<label class="form-check-label ml-md-2" for="">INFARTO</label>
											{{form.fecha_infarto_reciente}}		      
									</div>
							</div>

							<div class="form-group col-md-2">
									<div class="form-check mr-sm-4 ml-md-5 ">
											{{form.atc1}}
											<label class="form-check-label ml-md-2" for="">ATC</label>
										</div>
							</div>
							<div class="form-group col-md-2">
									<div class="form-check mr-sm-4 ml-md-5">
											{{form.atc2}}
											<label class="form-check-label ml-md-2" for=""> ATC</label>
										</div>
							</div>
							<div class="form-group col-md-2">
									<div class="form-check mr-sm-4 ml-md-5">
											{{form.atc3}}
											<label class="form-check-label ml-md-2" for="">ATC</label>
										</div>
							</div>
							</div> 	
							
							<div class="row ml-4 mt-3">
							
							<div class="col-md-12 form-inline ml-md-3">
									<div class="form-check mr-sm-4" style="left: 7px;">
											{{form.atc1_da}}
											<label class="form-check-label ml-md-2" for="">DA</label>
										  </div>
										  <div class="form-check mr-sm-4 ml-md-5">
												{{form.atc2_da}}
												<label class="form-check-label ml-md-2" for=""> DA</label>
											  </div>
											  <div class="form-check mr-sm-4 ml-md-5">
													{{form.atc3_da}}
													<label class="form-check-label ml-md-2" for="">DA</label>
												  </div>
											  <div class="form-check mr-sm-4 ml-md-5" style="left: 23px;">
												{{form.atc1_dg}}
												<label class="form-check-label ml-md-2" for="">DG</label>
											  </div>
											  <div class="form-check mr-sm-4 ml-md-5" style="left: 30px;">
													{{form.atc2_dg}}
													<label class="form-check-label ml-md-2" for="">DG</label>
												  </div>
												  <div class="form-check mr-sm-4 ml-md-5" style="left: 37px;">
														{{form.atc3_dg}}
														<label class="form-check-label ml-md-2" for="">DG</label>
													  </div>
										  </div>
							
							</div>
							
							<div class="row ml-4 mt-3">
							
							<div class="col-md-12 form-inline  ml-md-3">
											  <div class="form-check mr-sm-4" style="left: 7px;">
												{{form.atc1_cx}}
												<label class="form-check-label ml-md-2" for="">Cx</label>
											  </div>
											  <div class="form-check mr-sm-4 ml-md-5" style="left: 3px;">
													{{form.atc2_cx}}
													<label class="form-check-label ml-md-2" for="">Cx</label>
												  </div>
												  
														<div class="form-check mr-sm-4 ml-md-5" style="left: 6px;">
														  {{form.atc3_cx}}
														  <label class="form-check-label ml-md-2" for="">Cx</label>
														</div>
														<div class="form-check mr-sm-4 ml-md-5" style="left: 30px;">
																{{form.atc1_cd}}
																<label class="form-check-label ml-md-2" for="">CD</label>
															  </div>
															  <div class="form-check mr-sm-4 ml-md-5" style="left: 38px;">
																	{{form.atc2_cd}}
																	<label class="form-check-label ml-md-2" for="">CD</label>
																  </div>
																  <div class="form-check mr-sm-4 ml-md-5" style="left: 47px;">
																		{{form.atc3_cd}}
																		<label class="form-check-label ml-md-2" for="">CD</label>
																	  </div>
							</div>
							
								  
							</div> 
							
							<div class="row	ml-4 mt-3">
							
							

											  <div class="form-group col-md-4">
													<div class="form-check mr-sm-4">
															{{form.atc1_stent_bms}}
															<label class="form-check-label ml-md-2" for="">Stent BMS</label>
														  </div>
											  </div>
											  <div class="form-group col-md-4">
													<div class="form-check mr-sm-4">
															{{form.atc2_stent_bms}}
															<label class="form-check-label ml-md-2" for="">Stent BMS</label>
														  </div>
											  </div>
												  <div class="form-group col-md-4">
														<div class="form-check mr-sm-4">
																{{form.atc3_stent_bms}}
																<label class="form-check-label ml-md-2" for="">Stent BMS</label>
															  </div>
												  </div>	  
							</div> 

							<div class="row	ml-4 mt-3">

											<div class="form-group col-md-4">
													<div class="form-check mr-sm-4 ml-md-1">
															{{form.atc1_stent_des}}
															<label class="form-check-label ml-md-2" for="autoSizingCheck">Stent DES</label>
														  </div>
											</div>
												<div class="form-group col-md-4">
														<div class="form-check mr-sm-4 ml-md-1">
																{{form.atc2_stent_des}}
																<label class="form-check-label ml-md-2" for="autoSizingCheck">Stent DES</label>
															  </div>
												</div>
												   <div class="form-group col-md-4">
														<div class="form-check mr-sm-4 ml-md-1">
																{{form.atc3_stent_des}}
																<label class="form-check-label ml-md-2" for="autoSizingCheck">Stent DES</label>
																			  </div>
												   </div>

				 			 </div> 
		</fieldset>					
<!-------------------------------------------------------------------------------------------------->
		<fieldset class="col-md-4 ml-md-5 bordes1" style="background-color: #263238; color: white;">
				<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">OTROS</legend>
				
					<div class="row">
						
								<div class="form-group shadow-textarea ml-2 mr-2 mt-3">
										<div class="shadow-textarea bordes1 col-md-12">
												{{form.otros_antecedentes}}
											  </div>
								</div>
						

			</div>
			<div class="row d-flex">
					<div class=" form-group form-inline my-md-2 ml-auto mr-3 ">	
							<!-- <button class="btn btn-danger mr-md-4 ml-auto" > Cancelar</button> -->
							<button  class="btn ml-auto mt-2 mb-3 bordes1" style="background-color:#009688; color:white; "> Guardar</button>
					</div>
			</div>
		</fieldset>	
					
		
	
	
</div>


</div>
</form>

</body>

{% endblock content %}