{% extends "core/base.html" %}
{% load static %}
{% block content %}
<style>

    .boton
    {
        width: 200px;
        height: 40px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 15px 0 0 15px;
    }
    
    .boton2
    {
        position: relative;
        border-radius: 0 15px 15px 0;
        width: 50px;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        background :#263238;
        color: white;
    }
    
    </style>
     <form class="form-inline mt-md-5"  method="GET">
        {% csrf_token %}
          <input type="text" class="boton mt-md-5 ml-md-2" placeholder="Buscar paciente.." name="q" style="" >
            <button type="submit" class=" boton2 mt-md-5"><i class="fa fa-search"></i></button>
        </form>
        <br>
        <table class="table table-dark" id="table" data-toggle="table" data-height="300">
    <thead style="background-color: #009688;">
      <tr>
          
          <th>Paciente</th>
          <th>fecha fcrv hta</th>
          <th>fecha fcrv dta</th>
          <th>otros antecedentes medica</th>
          <th>Editar</th>
          <th>Borrar</th>

      </tr>
    </thead>
  

   
  <tbody>
  {% for pac in eventos  %}
 <tr>
        
          <td>{{pac.paciente_antecedente}}</td>
          {% if pac.fecha_fcrv_hta == none %}
          <td>No</td>
          {% else %}
          <td>{{pac.fecha_fcrv_hta}}</td>
          {% endif %}
          {% if pac.fecha_fcrv_dta == none %}
          <td>No</td>
          {% else %}
          <td>{{pac.fecha_fcrv_dta}}</td>
          {% endif %}
          <td>{{pac.otros_antecedentes}}</td>
         <td><a class="btn btn-info" href="{% url 'editaantec' pac.id_antecedentes %}" >Editar</a></td>
         <td><a   class='btn btn-danger eliminar' href="{% url 'borraantec' pac.id_antecedentes %}" >Borrar</a></td>
		
   </tr>
  
  {% endfor %}
     </tbody>
     </table>

{% endblock content %}
