<!DOCTYPE html>
{% extends "core/base.html" %}
{% block tttle %}Vender articulo{% endblock tttle %}
<body>
{% block content %}
<br>
<br>

<div class="container mt-5"></div>

 <table id="tabla" class="table table-bordered bg-transparent my-5" style="width:100%">
                                        <thead>
                                            <tr class="bg-primary text-light">
                                                <th>Codigo</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Precio</th>
                                                <th>Vender</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for l in lentes %}
                                        {% if l.cantidad > 0 %}
                                            <tr>
                                                <td>{{l.barcode}}</td>
                                                <td>{{l.marca}}</td>
                                                <td>{{l.modelo}}</td>
                                                <td>{{l.precio}}</td>
                                                <td>
                                                 <a class="btn btn-success" href="{% url 'ventalente' l.id %}" role="button">Vender</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                        {% endif %}
                                            {% endfor %}
                                             
    
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Precio</th>
                                                <th>Vender</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
{% endblock %}
</body>
</html>
