<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta Lentes</title>
</head>
<body>
    <h1>Aca se realizara la venta de los lentes (primero los listos en una tabla con buscador con un boton al lado que diga vender)</h1>
    <form action="" method="POST">{% csrf_token %}
    {% for l in lentes %}
    {{l.marca}} {{l.modelo}} {{l.cantidad}} {{l.precio}} <a href="{% url 'ventalente' l.id %}" role="button"> Vender</a>
    {% endfor %}
    </form> 
</body>
</html>