<!DOCTYPE html>
{% extends "core/base.html" %}

<body>
{% block content %}
<br>
<br>

<div class="container mt-5"></div>

 <table id="tabla" class="table table-bordered bg-transparent my-5" style="width:100%">
                                        <thead>
                                            <tr class="bg-primary text-light">
                                                <th>Codigo</th>
                                                <th>Marca</th>
                                                <th>Modelo<th>
                                                <th>Precio</th>
                                                <th>Vender</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for l in lentes %}
                                            <tr>
                                                <td>{{l.barcode}}</td>
                                                <td>{{l.marca}}</td>
                                                <td>{{l.modelo}}</td>
                                                <td>{{l.precio}}</td>
                                                <td><div class="row">
                                                    <div class="col-md-4">
                                                        <a class="btn btn-success" href="{% url 'edita' l.id %}" role="button">Vender</a>
                                                    </div>
                                                    </td>
                                                  {% endfor %}
                                            </tr>
    
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Marca</th>
                                                <th>Modelo<th>
                                                <th>Precio</th>
                                                <th>Vender</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
{% endblock %}
</body>
</html>