{% extends "core/base.html" %}

{% block content %}

  <div class="row justify-content-center">
                                <div class="col-md-6 col-xl-8 mt-5">
                                    <div class="jumbotron border bg-white">
                                        <div class="container">
                                        {% for l in lente %}
                                          <p class="lead text-center">Esta seguro que desea vender el producto {{l.marca}} {{l.modelo}} </p>
                                          <p class="lead text-center">al precio de ${{l.precio}} ? </p>
                                          <div class="row">
                                            <div class="col ">
                                            <form action="" class="d-flex" method="POST">{% csrf_token %}
                                                <input type="text" name="lente" id="" value={{l.id}} style="display: none;">
                                                <button class="btn btn-success ml-auto" href="" role="button">Vender</button>

                                        {% endfor %}
                                            </form>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-secondary ml-2" href="{% url 'carga' %}" role="button">Cancelar</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                                
                                    </div>
                                </div>
    
    {% endblock %}
