<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta del lente</title>
</head>
<body>
    <form action="" method="POSt"> {% csrf_token %}
        {% for l in lente %}
        <h1>Desea vender el producto {{l.modelo}} ? </h1>
        <input type="text" name="lente" id="" value="{{l.id}}" >
        {% endfor %}

        <button type="submit">Realizar venta</button>

    </form>
</body>
</html>